<footer>
  <div class="footer-info-socials">
    <div class="footer-info-socials-language">
      <i class="fa-solid fa-globe"></i>
      <span>English</span>
    </div>
    <div class="footer-info-socials-price">
      <i class="fa-solid fa-indian-rupee-sign"></i>
      <span>INR</span>
    </div>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook-f"></i>
  </div>
  <div class="footer-info-brand">&copy; Wanderlust pvt limited</div>
  <div class="footer-info-links">
    <a href="/privacy">Privacy</a>
    <a href="/terms">Terms</a>
  </div>
</footer>
